.ub-separator{
    background-color: #000000;
}

.ub-btn-dark{
    background-color: #000000;
    color: white !important;
}

.ub-label{
    color: #545454;
}

.ub-label-info{
    color: #276ef2;
}

.ub-bg-gray{
    background-color: #f7f7f7;
}

.ub-bg-white{
    background-color: white;
    border-top: solid 1px #eeeeee;
}

.ub-bg-dark{
    background-color: #008000;
    color: white;
}

.ub-bg-dark .fa{
    color: white;
    font-size: 18px;
}

.ub-bg-dark a{
    color: white;
    text-decoration: none;
}

.ub-icon-lg{
    font-size: 54px;
}

.ub-text-success{
    color: #47b275;
}

.ub-img-profile{
    width: 112px;
    margin-left: 8px;
}

.ub-btn-edit-img{
    position: relative;
    margin-top: -60px;
    border-radius: 32px;
    width: 38px;
    height: 38px;
}

.ub-img-profile-menu {
    margin-left: 8px;
    max-width: 70px;
}

p{
    font-weight: 600;
}

a{
    color: #000000;
}

hr{
    background-color: #545454;
}


@media (max-width: 991.98px) {
    .offcanvas-collapse {
      position: fixed;
      top: 46px;
      bottom: 0;
      right: 100%;
      width: 100%;
      padding-right: 1rem;
      padding-left: 1rem;
      overflow-y: auto;
      visibility: hidden;
      background-color: white;
      transition-timing-function: ease-in-out;
      transition-duration: .3s;
      transition-property: right, visibility;
    }
    .offcanvas-collapse.open {
        right: 0;
      visibility: visible;
    }
  }